fastapi[standard]~=0.115.13
sqlmodel~=0.0.24
uvicorn~=0.34.3
starlette~=0.46.2
pigpio~=1.78
bluez_peripheral~=0.2.0a5
zeroconf~=0.147.0
SQLAlchemy~=2.0.41
python-multipart~=0.0.20
httpx~=1.0.dev2
pillow~=11.2.1
pyrf24~=0.5.0
homeassistant_api~=5.0.1
